<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>repsy</id>
            <username>${env.REPSY_USERNAME}</username>
            <password>${env.REPSY_PASSWORD}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>repsy</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>repsy</id>
                    <name>repsy Managed Internal Repository</name>
                    <url>https://repo.repsy.io/mvn/genialsata/contest/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>repsy</id>
                    <name>repsy Repository</name>
                    <url>https://repo.repsy.io/mvn/genialsata/contest/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>


</settings>
